In [17]:
import pandas as pd


path = "https://mydatabucket-altesla.s3.us-west-1.amazonaws.com/Pokemon_data.csv"

In [18]:
poke_frame = pd.read_csv(path)

In [19]:
poke_frame.head()

,Unnamed: 0,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight,ImageUrl,Generation
0,0,1,Bulbasaur,318,45,49,49,65,65,45,Grass,Poison,0.7,6.9,https://assets.pokemon.com/assets/cms2/img/pok...,1st
1,1,2,Ivysaur,405,60,62,63,80,80,60,Grass,Poison,1.0,13.0,https://assets.pokemon.com/assets/cms2/img/pok...,1st
2,2,3,Venusaur,525,80,82,83,100,100,80,Grass,Poison,2.0,100.0,https://assets.pokemon.com/assets/cms2/img/pok...,1st
3,3,3,Mega Venusaur,625,80,100,123,122,120,80,Grass,Poison,2.4,155.5,https://assets.pokemon.com/assets/cms2/img/pok...,6th
4,4,4,Charmander,309,39,52,43,60,50,65,Fire,none,0.6,8.5,https://assets.pokemon.com/assets/cms2/img/pok...,1st

In [20]:
poke_frame.drop("Unnamed: 0", axis=1, inplace=True)

In [21]:
gen = poke_frame["Generation"].drop_duplicates().values.tolist()
print(gen)

['1st', '6th', '7th', '8th', '2nd', '9th', '3rd', '4th', '5th']

In [22]:
class PokeState():
    selected_gen: str = '2nd'

In [23]:
print(PokeState.selected_gen)

4th

In [24]:
chosen_gen = PokeState.selected_gen

In [25]:
chosen_gen = PokeState.selected_gen
gen_df = poke_frame[poke_frame['Generation']== chosen_gen]
strongest_row = gen_df.loc[gen_df['Total'].idxmax()]
strongest_name = strongest_row['Name']
print(strongest_name)
print(type(chosen_gen))

Arceus
<class 'str'>

In [26]:
gen_df.head()

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight,ImageUrl,Generation
481,387,Turtwig,318,55,68,64,45,55,31,Grass,none,0.4,10.2,https://assets.pokemon.com/assets/cms2/img/pok...,4th
482,388,Grotle,405,75,89,85,55,65,36,Grass,none,1.1,97.0,https://assets.pokemon.com/assets/cms2/img/pok...,4th
483,389,Torterra,525,95,109,105,75,85,56,Grass,Ground,2.2,310.0,https://assets.pokemon.com/assets/cms2/img/pok...,4th
484,390,Chimchar,309,44,58,44,58,44,61,Fire,none,0.5,6.2,https://assets.pokemon.com/assets/cms2/img/pok...,4th
485,391,Monferno,405,64,78,52,78,52,81,Fire,Fighting,0.9,22.0,https://assets.pokemon.com/assets/cms2/img/pok...,4th

In [27]:
strongest=gen_df[gen_df.Total == gen_df.Total.max()]
strongest

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight,ImageUrl,Generation
605,493,Arceus,720,120,120,120,120,120,120,Normal,none,3.2,320.0,https://assets.pokemon.com/assets/cms2/img/pok...,4th

In [28]:
strongest_name = strongest['Name'].squeeze()

In [29]:
print(f"{strongest_name}")

Arceus

In [30]:
strongest_row = gen_df.loc[gen_df['Total'].idxmax()]
strongest_row.head()

ID           493
Name      Arceus
Total        720
HP           120
Attack       120
Name: 605, dtype: object

In [31]:
strongest_name = strongest_row['ImageUrl']

In [32]:
print(strongest_name)
print(type(strongest_name))

https://assets.pokemon.com/assets/cms2/img/pokedex/full/493.png
<class 'str'>