In [1]:
import pandas as pd


path = "https://mydatabucket-altesla.s3.us-west-1.amazonaws.com/Pokemon_data.csv"

In [2]:
poke_frame = pd.read_csv(path)

In [3]:
poke_frame.head()

,Unnamed: 0,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight,ImageUrl,Generation
0,0,1,Bulbasaur,318,45,49,49,65,65,45,Grass,Poison,0.7,6.9,https://assets.pokemon.com/assets/cms2/img/pok...,1st
1,1,2,Ivysaur,405,60,62,63,80,80,60,Grass,Poison,1.0,13.0,https://assets.pokemon.com/assets/cms2/img/pok...,1st
2,2,3,Venusaur,525,80,82,83,100,100,80,Grass,Poison,2.0,100.0,https://assets.pokemon.com/assets/cms2/img/pok...,1st
3,3,3,Mega Venusaur,625,80,100,123,122,120,80,Grass,Poison,2.4,155.5,https://assets.pokemon.com/assets/cms2/img/pok...,6th
4,4,4,Charmander,309,39,52,43,60,50,65,Fire,none,0.6,8.5,https://assets.pokemon.com/assets/cms2/img/pok...,1st

In [4]:
poke_frame.drop("Unnamed: 0", axis=1, inplace=True)

In [5]:
gen = poke_frame["Generation"].drop_duplicates().values.tolist()
print(gen)

['1st', '6th', '7th', '8th', '2nd', '9th', '3rd', '4th', '5th']

In [6]:
class PokeState():
    selected_gen: str = '1st'

In [7]:
print(PokeState.selected_gen)

1st

In [8]:
chosen_gen = PokeState.selected_gen

In [9]:
chosen_gen = PokeState.selected_gen
gen_df = poke_frame[poke_frame['Generation']== chosen_gen]
strongest_row = gen_df.loc[gen_df['Total'].idxmax()]
strongest_name = strongest_row['Name']
print(strongest_name)
print(type(chosen_gen))

Mewtwo
<class 'str'>

In [10]:
gen_df.head()

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight,ImageUrl,Generation
0,1,Bulbasaur,318,45,49,49,65,65,45,Grass,Poison,0.7,6.9,https://assets.pokemon.com/assets/cms2/img/pok...,1st
1,2,Ivysaur,405,60,62,63,80,80,60,Grass,Poison,1.0,13.0,https://assets.pokemon.com/assets/cms2/img/pok...,1st
2,3,Venusaur,525,80,82,83,100,100,80,Grass,Poison,2.0,100.0,https://assets.pokemon.com/assets/cms2/img/pok...,1st
4,4,Charmander,309,39,52,43,60,50,65,Fire,none,0.6,8.5,https://assets.pokemon.com/assets/cms2/img/pok...,1st
5,5,Charmeleon,405,58,64,58,80,65,80,Fire,none,1.1,19.0,https://assets.pokemon.com/assets/cms2/img/pok...,1st

In [11]:
strongest=gen_df[gen_df.Total == gen_df.Total.max()]
strongest

,ID,Name,Total,HP,Attack,Defense,SpAtk,SpDef,Speed,Type1,Type2,Height,Weight,ImageUrl,Generation
200,150,Mewtwo,680,106,110,90,154,90,130,Psychic,none,2.0,122.0,https://assets.pokemon.com/assets/cms2/img/pok...,1st

In [12]:
strongest_name = strongest['Name']

In [13]:
print(f"{strongest_name}")

200    Mewtwo
Name: Name, dtype: object

In [17]:
strongest_row = gen_df.loc[gen_df['Total'].idxmax()].set_index()
strongest_row

ID                                                          150
Name                                                     Mewtwo
Total                                                       680
HP                                                          106
Attack                                                      110
Defense                                                      90
SpAtk                                                       154
SpDef                                                        90
Speed                                                       130
Type1                                                   Psychic
Type2                                                      none
Height                                                      2.0
Weight                                                    122.0
ImageUrl      https://assets.pokemon.com/assets/cms2/img/pok...
Generation                                                  1st
Name: 200, dtype: object

In [15]:
strongest_name = strongest_row['Name']

In [16]:
strongest_name

'Mewtwo'