# Steam EDA 
This is a EDA project of Steam Games

In [1]:
import pandas as pd

In [2]:
path = "https://mydatabucket-altesla.s3.us-west-1.amazonaws.com/steam.csv"

In [3]:
steam_frame = pd.read_csv(path)
steam_frame = steam_frame.drop("Unnamed: 0", axis=1)

In [4]:
steam_frame.head()

,name,release_date,developer,achievements,positive_ratings,negative_ratings,avg_hours_per_user,price,sells,action,adventure,rpg,simulation,strategy,racing,free_to_play,early_access
0,Counter-Strike,2000-11-01,Valve,0,124534,3339,17612,7.19€,15000000.0,True,False,False,False,False,False,False,False
1,Team Fortress Classic,1999-04-01,Valve,0,3318,633,277,3.99€,7500000.0,True,False,False,False,False,False,False,False
2,Day of Defeat,2003-05-01,Valve,0,3416,398,187,3.99€,7500000.0,True,False,False,False,False,False,False,False
3,Deathmatch Classic,2001-06-01,Valve,0,1273,267,258,3.99€,7500000.0,True,False,False,False,False,False,False,False
4,Half-Life: Opposing Force,1999-11-01,Gearbox Software,0,5250,288,624,3.99€,7500000.0,True,False,False,False,False,False,False,False

In [5]:
steam_frame.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
27098     True
27099     True
27100     True
27101     True
27102     True
Length: 27103, dtype: bool

In [6]:
steam_frame.duplicated().unique()

array([False,  True])

In [7]:
steam_frame = steam_frame.drop_duplicates()

In [8]:
steam_frame.duplicated().unique()

array([False])

In [9]:
steam_frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27075 entries, 0 to 27074
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                27075 non-null  object
 1   release_date        27075 non-null  object
 2   developer           27074 non-null  object
 3   achievements        27075 non-null  int64
 4   positive_ratings    27075 non-null  int64
 5   negative_ratings    27075 non-null  int64
 6   avg_hours_per_user  27075 non-null  int64
 7   price               27075 non-null  object
 8   sells               27075 non-null  float64
 9   action              27075 non-null  bool
 10  adventure           27075 non-null  bool
 11  rpg                 27075 non-null  bool
 12  simulation          27075 non-null  bool
 13  strategy            27075 non-null  bool
 14  racing              27075 non-null  bool
 15  free_to_play        27075 non-null  bool
 16  early_access        27075 non-null  bool
dtypes: bool(8), float64(1), int64(4), object(4)
memory usage: 2.3+ MB

In [10]:
steam_frame['release_date'] = pd.to_datetime(steam_frame['release_date'])

In [11]:
steam_frame['price'] = steam_frame['price'].str.replace('€', '')

In [12]:
steam_frame['price'] = pd.to_numeric(steam_frame['price'])

In [13]:
steam_frame['sells'] = steam_frame['sells'].astype(int)

In [14]:
steam_frame.columns

Index(['name', 'release_date', 'developer', 'achievements', 'positive_ratings',
       'negative_ratings', 'avg_hours_per_user', 'price', 'sells', 'action',
       'adventure', 'rpg', 'simulation', 'strategy', 'racing', 'free_to_play',
       'early_access'],
      dtype='object')

In [15]:
weight = 150
height = 183
age = 33

TMB = 88.362 + (13.397 * weight ) + (4.799 * height) - (5.677 * age)

print(TMB)
print(TMB * 1.375)

2788.788
3834.5835

I need to write